.budget-card {
  background: #1e293b;
  border-radius: 20px;
  padding: 24px;
  margin-bottom: 30px;
}

.budget-card h2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
}

.budget-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.budget-group {
  display: flex;
  flex-direction: column;
}

.budget-group label {
  color: #cbd5e1;
  margin-bottom: 8px;
  font-size: 14px;
}

.budget-group input {
  background: #0f172a;
  border: none;
  border-radius: 12px;
  padding: 14px;
  color: white;
  font-size: 15px;
}

.budget-form button {
  background: linear-gradient(
    135deg,
    #22c55e,
    #16a34a
  );

  color: white;
  border: none;
  padding: 14px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;

  transition: 0.3s;
}

.budget-form button:hover {
  opacity: 0.9;
}